<div class="container p-3">
  
    <% @documents.each do |document| %>
    <div class="card" style="width: 18rem;">
      <% if document.img.attached? %>
        <%= image_tag document.img, class: "card-img-top" %>
      <% else %>
        
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= document.title %></h5>
        <p class="card-text"><%= document.body %></p>
      </div>
    </div>
    <% end %>
    
  
</div>